@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
    padding: 10px;
}
.container::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 0;
    width: 20rem;
    height: 20rem;
    backdrop-filter: blur(5px);
    background: hsla(255,100%,100%,0.45);
    box-shadow: inset 2px 2px 5px hsla(255,100%,100%,0.45),inset 12px   12px 15px hsla(0,100%,0%,0.45);
    border-radius: 50%;
    animation: up-down 1s linear infinite;
}
@keyframes up-down {
    100%{
        transform: translateY(120%) scale(0);
    }
}    

.container::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 20rem;
    height: 20rem;
    backdrop-filter: blur(5px);
    background: hsla(255,100%,100%,0.45);
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px hsla(255,100%,100%,0.45),inset -12px -12px 15px hsla(0,100%,0%,0.45);
    animation: down-up 1s linear infinite;
}
@keyframes down-up {
    100%{
        transform: translateY(-120%) scale(0);
    }
}
.todo-app{
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 540px;
    backdrop-filter: blur(5px);
    background: hsla(255,100%,100%,0.45);
    margin: 100px auto 20px ;
    padding:1rem 2rem;
    box-shadow: -2px -2px 1px hsla(255,100%,100%,0.45), 2px 2px 5px hsla(0,100%,0%,0.45);
    border-radius: 10pt;
    animation: border 1s linear infinite;
}
@keyframes border {
    0%{
        border-radius: 10pt;
    }
    50%{
        border-radius: 80pt;
    }
    100%{
        border-radius: 10pt 20pt 40pt 80pt / 80pt 60pt 40pt 20pt ;
    }
    
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 
     5px 5px 10px rgba(0, 0, 0, 0.15), /* Dark inner shadow */
     -5px -5pt 10px rgba(255, 255, 255, 0.45); /* Light inner highlight */
}
input{
    flex: 1 ;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
    transition: all .2s linear;
}
button{
    border:none;
    outline: none;
    padding: 16px 50px;
    background:#ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: all .2s linear;
}
ul li::before{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url("./images/radio_button_unchecked_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("./images/check_circle_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg");
}
