@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px ;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 
    10px 10px 20px rgba(0, 0, 0, 0.1), /* Outer shadow */
    -10px -10px 20px rgba(255, 255, 255, 0.9), /* Inner highlight */
    inset 5px 5px 10px rgba(0, 0, 0, 0.1), /* Inner shadow */ 
    10px 10px 20px rgba(0, 0, 0, 0.1), /* Dark outer shadow */
    -10px -10px 20px rgba(255, 255, 255, 0.9), /* Light outer highlight */
    inset 5px 5px 10px rgba(0, 0, 0, 0.15), /* Dark inner shadow */
    inset -5px -5px 10px rgba(255, 255, 255, 0.8); /* Light inner highlight */
}
input{
    flex: 1 ;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
    
}
button{
    border:none;
    outline: none;
    padding: 16px 50px;
    background:#ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url("./images/radio_button_unchecked_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("./images/check_circle_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg");
}
